---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Rocket from "../components/icons/Rocket.astro";
---

<DefaultLayout>
    <section class="my-12">
        <h1 class="justify-center text-6xl flex  text-[#eca33d]">Your projects! <Rocket /></h1>
    </section>
    
</DefaultLayout>