---
import DashboardLayout from "../layouts/DashboardLayout.astro";
import Rocket from "../components/icons/Rocket.astro";
import ProjectList from "../components/Projects/ProjectList";
import isLoggedIn from "../utils/isLogged";
const jwt = Astro.request.headers.get('cookie')
if (!await isLoggedIn(jwt || '')) return await Astro.redirect('/dashboard')

---

<DashboardLayout>
    <section class="my-12">
        <div>
            <h1 class="justify-center text-6xl flex font-bold text-[#eca33d]">Your projects! <Rocket /></h1>
        </div>
        <div>
            <ProjectList client:visible />
        </div>
    </section>
    
</DashboardLayout>