---
import Nav from "../components/Nav/Nav.astro";
import Branch from "../components/icons/Branch.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Project manager</title>
		<script>
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}
			
		</script>
	</head>
	<body class='dark:bg-[#191724] bg-[#ece1ef] dark'>
        <Nav />
		<Branch />
		<slot />
	</body>
</html>